---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$base-font-family: "Roboto Condensed", Arial, sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     0px;
$section-spacing:  8%;
$section-spacing-mobile: 5%;

$nav-width: percentage(1/6);

//Colors
$text-color:       #000;
$secondary-text:   #fff;
$background-color: #f7f7f7;
$brand-color:      #F03838;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Font Sizes
$_14: 0.875em;
$_15: 0.938em;
$_18: 1.125em;
$_20: 1.25em;
$_22: 1.375em;
$_26: 1.625em;
$_28: 1.75em;
$_32: 2em;
$_35: 2.2em;

// Width of the content area
//$content-width:    1050px;
$content-width:    100%;
$on-laptop:        800px;
$on-palm:          650px;

// Typography
h1 {
  font-size: $_35;
  line-height: 94%;
  font-weight: 700 !important;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 0 4px !important;
  @media (min-width: $on-laptop) {
      float: left;
      text-align: left;
      padding: 8px 0 0 !important;
  }

  a:link, a:active, a:hover, a:visited {
    text-decoration: none;
    color: $secondary-text;
  }
}
h2 {
  font-size: $_32;
  font-weight: 400;
  font-family: $ubuntu;
  color: $brand-color;
  line-height: 230%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $on-laptop) {
    margin-top: 20px;
  }
}
h3 {
  font-size: $_22;
  display: inline;
  padding-left: 5%;
  clear: left;
  color: $brand-color;
}
h4 {
  font-size: $_20;
  font-family: $ubuntu;
  font-weight: 700;
  line-height: 180%;
  color: $secondary-text;
  display: block;
  clear: left;
}

// Header
header {
  height: 90px;
  background-color: $text-color;
  float: none !important;

  @media (min-width: $on-palm) {
      padding: 0 $section-spacing-mobile;
  }

  @media (min-width: $on-laptop) {
    padding: 0 $section-spacing;
    height: 80px;
  }

  .subtitle {
      color: $secondary-text;
      font-size: $_22;
      text-align: center;
      clear: left;
      display: block;

      @media (min-width: $on-laptop) {
          float: left;
      }
  }

  /*Navagation*/
  nav {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    z-index: 5;

    @media (min-width: $on-palm) {
        margin-left: -8%;
        top: 80px;
    }

    a {
      float: left;
      width: 100%;
      color: $secondary-text;
      text-decoration: none;
      text-align: center;
      line-height: 40px;
      display: block;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;

      &:active, &:visited {
          color: $secondary-text;
      }

      &:hover {
          color: $secondary-text;
          background-color: $brand-color;
          text-decoration: none;
      }
    }
  }

  @mixin menu-btns {
    font-size: $_32;
    color: $secondary-text;
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:hover {
        color: $brand-color;
    }

    @media (min-width: $on-laptop) {
        position: relative;
    }
  }

  .menu-btn {
    @include menu-btns;
  }
  .close {
    @include menu-btns;
    display: none;
  }
}

.page-content {
  //margin: 0 0 2px;

  p {
    margin: 16px 0;
    font-size: $_20;
    line-height: 180%;
  }
}

// Sections
section {
  padding: 30px $section-spacing-mobile 40px;

  @media (min-width: $on-laptop) {
    padding: 30px $section-spacing 40px;
  }

  a:link, a:active, a:visited {
      color: $brand-color;
      text-decoration: none;

      &:hover {
          color: $text-color;
      }
  }
}

// About
section.about {
  background-image: url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;

  h2 {
    color: $secondary-text;
  }

  p {
    color: $secondary-text;
  }

  a:link, a:active, a:visited {
      color: $secondary-text;

      &:hover {
          color: $brand-color;
      }
  }

  .about-container {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0 14px 20px;

    @media (min-width: $on-laptop) {
        padding: 30px 60px;
    }
  }
}

// Skills Section
section.skills {
  text-align: center;

  .pract-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    @media (min-width: $on-palm) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .pract-box {
    flex: 1 0 0;

    .skill-icon {
        color: $secondary-text;
        font-size: 20px;
        line-height: 60px;
        background-color: $brand-color;
        margin: 0 auto 16px;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    h3 {
      text-align: left;
      color: $brand-color;
      line-height: 120%;
    }

    p {
      font-size: 1em;
      line-height: 130%;
      margin-bottom: 30px;
      padding: 0 20px;

      @media (min-width: $on-palm) {
        margin-bottom: 20px;
      }
    }
  }

  .skills-tech {
    margin: 20px auto;
    display: block;
    width: 80%;

    i {
      margin: 10px;
      font-size: 60px;
      display: inline-block;
    }
  }

  .skills-practices {

      i {
          font-size: 1.2em;
          margin: 6px;
          color: $brand-color;
      }
  }
}

// Portfolio
section.portfolio {
    overflow-y: auto;
    padding-bottom: 20px;
    background-color: $secondary-text;

    @media (min-width: $on-laptop) {
        padding-bottom: 40px;
    }

    a {
        text-decoration: underline;
        color: $secondary-text;

        &:hover {
            text-decoration: none;
            color: $secondary-text;
        }
    }

    .portfolio-row {
        max-width: 1082px;

        @media (min-width: 1082px) {
            margin: 0 auto;
        }
    }

    .portfolio-container {
        width: 100%;
        margin: 20px auto;
        max-width: 530px;
        position: relative;
        overflow: hidden;

        @media (min-width: $on-laptop) {
            float: left;
            width: 49%;
            margin: 16px 0 0;

            &:nth-child(1) {
              margin-right: 2%;
            }
        }

    @mixin port-btn {
      line-height: 60px;
      color: $secondary-text;
      font-size: $_18;
      padding-right: 20px;
      float: right;

      @media (min-width: 380px) {
        font-size: $_22;
      }
    }

    .plus {
      @include port-btn;
    }

    .port-img {
      display: block;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

    .port-copy {
        position: absolute;
        top: 70%;
        width: 100%;
        height: 380px;
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        z-index: 10;
        transition: all 0.5s ease;

        @media (min-width: 380px) {
          top: 80%;
        }
        @media (min-width: 525px) {
          top: 85%;
        }
        @media (min-width: $on-laptop) {
          top: 80%;
        }
        @media (min-width: 1200px) {
          top: 85%;
        }

        h3 {
            color: $secondary-text;
            line-height: 60px;
            padding-left: 20px;
            float: left;
            font-size: $_18;

            @media (min-width: 380px) {
              font-size: $_22;
            }
        }

        p {
            color: $secondary-text;
            font-size: 0.8em;
            line-height: 120%;
            padding: 0 20px;
            margin: 8px 0;
            clear: both;
            display: none;

            @media (min-width: 420px) {
              font-size: 1em;
            }

            @media (min-width: 900px) {
              line-height: 180%;
            }
        }

        .port-close {
            @include port-btn;
            display: none;
        }
    }

    &:hover {
        .port-img {
            opacity: 0.8;
        }

        i.plus, .port-close {
            color: $brand-color
        }
    }

    .slide {
        top: 0;
    }

    .img-hover {
        opacity: 0.8;
    }
  }
}

.four-o-four-copy {
  text-align: center;

  a:hover {
    color: $brand-color;
    text-decoration: underline;
  }
}

// Blog section
.blog-section {
    display: none;
}

.blog-container {
    width: 100%;
    text-align: center;

    @media (min-width: $on-palm) {
        width: 33%;
        float: left;
    }

    img {
        width: 100%;
        max-width: 280px;
        display: block;
        margin: 0 auto;
    }

    a:hover h3 {
        color: $text-color;
    }
}

p.footer-link {
    clear: both;
    padding-top: 24px;
    text-align: center;
}

// Blog Archive
.post-list {
    list-style-type: none;

    li {
        padding-top: 16px;
        clear: both;
        text-align: center;

        @media (min-width: $on-palm) {
            text-align: left;
        }

        &:first-child {
            padding-top: 0;
        }
    }
}

.post-meta {
  display: block;
}

.excerpt {

    @media (min-width: $on-palm) {
        float: left;
    }
}

.img-excerpt {
    width: 150px;
    margin: 8px auto 16px;
    display: block;

    @media (min-width: $on-palm) {
        float: left;
        margin: 8px 10px 16px 0;
    }
}

// Blog Post
.post-header {
    color: $secondary-text;
    text-align: center;
    height: 150px;
    width: 100%;
    display: table;
    z-index: 0;
    position: relative;
}

.header-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 150px;
}

.post-info {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
    position: relative;

    h3.post-title {
        color: $secondary-text;
        font-size: 1.8em;
        font-weight: 700;
        padding: 0 10px;
    }
}

.post-content {
    margin-top: 40px;
}

// Resume
body.resume {
  color: $text-color;
  background-color: $secondary-text;

  .page-content {
    padding: 30px $section-spacing-mobile 0;

    @media (min-width: $on-palm) {
      padding: 30px $section-spacing 12px;
    }
  }

  .wrapper {

    @media (min-width: $on-palm){
        background-color: $brand-color;
    }
  }
}

.resume-content {
    width: 100%;
    background-color: $secondary-text;
    padding: 30px 0 20px;

    @media (min-width: $on-laptop) {
      width: 65%;
      padding: 0 3% 20px 0;
    }

    @media (min-width: 1000px) {
      width: 69%;
    }

  section {
  	padding: 0;
    margin: 0;

    h2 {
      color: $text-color;
      text-align: left;
    }

    h3 {
        display: block;
    }

  	p {
      font-size: $_18;
  		line-height: 140%;
      clear: left;
    }
    .title {
      font-size: $_20;
      font-weight: 700;
      clear: left;
    }
  	.date {
      font-size: $_15;
    }
    .secondary-title  {
      font-size: $_18;
      line-height: 120%;
    }
    ul {
      margin: 10px 0 20px;

      li {
        font-size: $_18;
        margin-left: 18px;
      }
    }
  }

  .overview {

    h2 {
      line-height: 1;
      padding-bottom: 12px;
    }
  }

  h4 {
    color: $secondary-text;
  }

  .bar {
    background-color: #f5f5f5;
    border: 1px solid #555;
    width: 100%;
    margin-bottom: 10px;
  }

  @mixin bar-inner {
      background-color: $brand-color;
      height: 25px;
  }

  .adv {
      @include bar-inner;
      width: 95%;
  }

  .mid {
      @include bar-inner;
      width: 60%;
  }

  .beg {
      @include bar-inner;
      width: 30%;
  }
}

.resume-sidebar {
    width: 100%;
    padding: 10px 0;
    color: $secondary-text;

    @media (min-width: $on-laptop) {
      float: right;
      width: 32%;
    }

    @media (min-width: 1000px) {
      width: 28%;
    }

    .profile {
        border-radius: 50%;
        margin: 10px auto 20px;
        display: block;
    }

    .name {
        text-transform: none;
        text-align: center;
        float: none;
    }

    .tagline {
        color: $secondary-text;
        text-align: center;
        line-height: 120%;
        margin: 12px 0;
        display: block;
    }

    ul.contact-list {
        list-style-type: none;
        text-align: center;

        @media (min-width: $on-laptop) {
          padding: 0 10px;
          text-align: left;
        }

    a {
      color: $secondary-text;
      font-size: $_14;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: $grey-color-light;
      }
    }

    i {
        margin-right: 8px;
    }
  }

  h2.sidebar-title {
      float: none;
      margin: 20px;
      color: $secondary-text;
      text-align: left;

      @media (min-width: $on-laptop) {
        margin: 20px 10px;
      }
  }

  .school-block {
      margin-bottom: 30px;
      margin-left: 20px;
      font-size: $_14;

      @media (min-width: $on-laptop) {
        margin: 0 10px 30px;
      }

      strong {
          display: block;
      }

      .date {
          display: block;
      }
  }
}

// Footer
footer {
  font-family: $ubuntu;
  font-weight: 400;
  color: $brand-color;
  // background-color: $secondary-text;
  padding: 30px 0;
  width: 100%;
  clear: both;

  h2 {
    display: block;
  }
  a:link, a:active, a:visited {
    color: $text-color;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  a:hover {
    color: $brand-color;
  }
}
.footer-copy {
  font-size: $_20;
  line-height: 170%;
  text-align: center;
  display: block;
  width: 80%;
  margin: 0 auto;

  @media (min-width: $on-palm) {
      width: 100%;
      margin: 0;
  }

}
.social {
  overflow: auto;
  padding: 0 $section-spacing;
  margin-top: 15px;

  li {
    float: left;
    list-style: none;
    text-align: center;
    width: 20%;
    margin: 15px 0;
  }
}

.resume-footer {
  background-color: $background-color;

  i {
    margin-right: 4px;
  }
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
//
// @include media-query($on-palm) {
//     //.menu {display: none;}
// }


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"//,
        //"layout",
        //"syntax-highlighting"
;
