<footer class="site-footer" id="get-in-touch">
  <h2>Get in Touch</h2>
  <p class="footer-copy">Send me a message or view some code samples at the links below.</p>
  <ul class="social">
    <li>
      <a href="https://github.com/{{ site.github_username }}" target="_blank"><svg><use xlink:href="/images/icons.svg#github"></use></svg></a>
    </li>
    <li>
      <a href="http://codepen.io/{{ site.codepen_username }}" target="_blank"><svg><use xlink:href="/images/icons.svg#codepen"></use></svg></a>
    </li>
    <li>
      <a href="http://ca.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><svg><use xlink:href="/images/icons.svg#linkedin"></use></svg></a>
    </li>
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><svg><use xlink:href="/images/icons.svg#twitter"></use></svg></a>
    </li>
    <li>
      <a href="mailto:{{ site.email }}"><svg><use xlink:href="/images/icons.svg#email"></use></svg></a>
    </li>
  </ul>
</footer>

{% include footer-scripts.html %}
