.about
  background-attachment: fixed
  background-image: url('/images/hero.jpg')
  background-position: center 0
  background-repeat: no-repeat
  background-size: cover

  h2
    color: $secondary-text

  p
    color: $secondary-text

  a
    &:link,
    &:active,
    &:visited
      color: $secondary-text

    &:hover
      color: $brand-color

  .about-container
    background-color: $text-color-opaacity
    padding: 0 14px 20px
    text-align: center

    @media (min-width: $on-laptop)
      padding: 30px 60px


    .about-resume
      background-color: $brand-color
      display: block
      font-size: $_20
      margin: 10px auto 0
      padding: 8px 12px
      width: 80%

      @media (min-width: $on-laptop)
        width: 40%


      &:hover
        color: $text-color
