// Portfolio
section.portfolio
  overflow-y: auto
  padding-bottom: 20px
  border-top: 6px solid $background-color

  @media (min-width: $on-laptop)
    padding-bottom: 40px

  a
    text-decoration: underline
    color: $secondary-text

    &:hover
      text-decoration: none
      color: $secondary-text

  .portfolio-row
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center

    @media (min-width: 1082px)
      margin: 0 auto

    @media (min-width: $widescreen)
      justify-content: space-between

    .portfolio-container
      margin: 20px auto
      position: relative
      overflow: hidden
      border: 1px solid $text-color

      @media (min-width: $on-laptop)
        margin: 16px 0 0

  @mixin port-btn
    line-height: 60px
    color: $secondary-text
    font-weight: bold
    padding-right: 20px
    float: right

  .plus
    @include port-btn
    font-size: $_32

  .port-img
    display: block
    width: 100%
    -webkit-transition: all 0.4s ease
    transition: all 0.4s ease

  .port-copy
    position: absolute
    top: 70%
    width: 100%
    max-width: 530px
    height: 380px
    background-color: rgba(0, 0, 0, 0.8)
    cursor: pointer
    z-index: 10
    transition: all 0.5s ease

    @media (min-width: 380px)
      top: 80%

    @media (min-width: 525px)
      top: 85%

    h3
      color: $secondary-text
      line-height: 60px
      padding-left: 20px
      float: left
      font-size: $_18

      @media (min-width: 380px)
        font-size: $_22

    p
      color: $secondary-text
      font-size: 0.8em
      line-height: 120%
      padding: 0 20px
      margin: 8px 0
      clear: both
      display: none

      @media (min-width: 420px)
        font-size: 1em

      @media (min-width: 900px)
        line-height: 180%

    .port-close
      @include port-btn
      font-size: $_28
      display: none

  &:hover
    .port-img
      opacity: 0.8

  .slide
    top: 0

  .img-hover
    opacity: 0.8
