name: Secrets and Environment Variables

on:
  workflow_dispatch:

jobs:
  top-secret:
    runs-on: ubuntu-latest

    steps:
      - name: Test to read Repoisitory variables
        run: echo "LinkedIn username - ${{ vars.NEXT_PUBLIC_LINKEDIN_USERNAME }} && Public email address - ${{ vars.NEXT_PUBLIC_EMAIL_ADDRESS }}"

      - name: Test to read a Repository secret
        run: echo "My secret form code is ${{ secrets.NEXT_PUBLIC_FORMSPREE_CODE }}"

  top-secret-production:
    runs-on: ubuntu-latest
    environment: github-pages
    env:
      NEXT_PUBLIC_SITE_URL: ${{ vars.NEXT_PUBLIC_SITE_URL }}
      NEXT_PUBLIC_SITE_TITLE: ${{ vars.NEXT_PUBLIC_SITE_TITLE }}

    steps:
      - name: Test to read Environment variables
        run: echo "My NEXT_PUBLIC_SITE_URL value in the production job is $NEXT_PUBLIC_SITE_URL and my NEXT_PUBLIC_SITE_TITLE value is $NEXT_PUBLIC_SITE_TITLE"
