name: Secrets and Environment Variables

on:
  workflow_dispatch:

jobs:
  top-secret:
    runs-on: ubuntu-latest
    # env:
    #   NEXT_PUBLIC_ALLOW_PORTFOLIO: ${{ vars.NEXT_PUBLIC_ALLOW_PORTFOLIO }}
    #   NEXT_PUBLIC_SITE_TITLE: ${{ vars.NEXT_PUBLIC_SITE_TITLE}}

    steps:
      - name: Read environment variables
        run: echo "LinkedIN username - ${{ vars.NEXT_PUBLIC_LINKEDIN_USERNAME }} && Public email address - ${{ vars.NEXT_PUBLIC_EMAIL_ADDRESS }}"

      - name: Read a secret
        run: echo "My secret form code is ${{ secrets.NEXT_PUBLIC_FORMSPREE_CODE }}"

  top-secret-production:
    runs-on: ubuntu-latest
    environment: github-pages
    env:
      NEXT_PUBLIC_SITE_URL: ${{ vars.NEXT_PUBLIC_SITE_URL }}
      NEXT_PUBLIC_SITE_TITLE: ${{ vars.NEXT_PUBLIC_SITE_TITLE }}

    steps:
      - name: Read a variable
        run: echo "My NEXT_PUBLIC_SITE_URL value in the production job is $NEXT_PUBLIC_SITE_URL and my NEXT_PUBLIC_SITE_TITLE value is $NEXT_PUBLIC_SITE_TITLE"
